<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) 2014.
  ~
  ~ Restfullib is a library to facilitate the creation of an android app (client side) connected with server based on RESTful webservice.
  ~
  ~ This library has been created by xaviml
  ~ https://github.com/xaviml
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="xml" >

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity android:name=".MyActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


    </application>

</manifest>
